[submodule "bin/termroom"]
	path = bin/termroom
    url = https://jkimbo@github.com/jkimbo/termroom.git
[submodule "autojump"]
	path = autojump
	url = https://github.com/joelthelion/autojump.git
[submodule "bin/git-diff-grep"]
	path = bin/git-diff-grep
	url = https://github.com/oscardelben/git-diff-grep.git
[submodule "toms-dotfiles"]
	path = toms-dotfiles
	url = https://github.com/TjlHope/dotfiles.git
[submodule "git/git-pull-request"]
	path = git/git-pull-request
	url = https://github.com/jkimbo/git-pull-request.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:jkimbo/oh-my-zsh.git
[submodule "solarized"]
	path = solarized
	url = git@github.com:altercation/solarized.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
