[submodule "solarized"]
	path = solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "bin/termroom"]
	path = bin/termroom
	url = git@github.com:jkimbo/termroom.git
